<img class="predictImg" src="./res/img/scut.jpg" />
<form class="layui-form layui-form-pane predict">
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="layui-icon layui-icon-chart"></i></label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="predictChart" placeholder="请选择日期" autocomplete="off" name="date" />
        </div>
        <button class="layui-btn layui-btn-primary" lay-submit lay-filter="confirm">确定</button>
    </div>
</form>


<script src="./res/js/predict.js"></script>