<div class="layui-fluid">
    <h1>文件目录结构</h1>
    <pre class="layui-code">

├── index.html                  // 单页面入口
├── plugin
│   ├──jquery.js
│   ├──echarts.js
│   └──layui // layui 框架源码
│      ├── css
│      ├── font
│      ├── images
│      ├── lay
│      ├── layui.all.js
│      └── layui.js
└── res                         // 代码资源
    ├── css
    │   └── css.css           // 自己的样式文件
    ├── json
    │   └── ...
    ├── js
    │   ├── app.js              // 项目 js 主入口
    │   └── setting.js          // 配置模块
    └── views                   // 页面文件
        ├── data          
        │   └── ...     
        ├── index
        │   ├── index.html
        │   └── test.html    
        ├── log
        │   └── ...
        └── user 
            └── ... 
    </pre>
</div>